
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2020/02/lenguaje-programacion-1859691.jpg);
    background-repeat: round;
}   

.principal {
    display: flex;
    flex-direction: column;
align-items: center;
    margin: 8vw;
    
}
#title {
    text-align: center;
    margin-top: 4%;
    color: aliceblue;
}
#description{
    text-align: center;
    color: aliceblue;
}
#contenedor {
   width: 65vw;
    background-color: rgb(41, 41, 226);
    padding: 3%;
    margin-top: 2%;
    
    
}
#name-label{
    color: aliceblue;
    font-weight: bold;
  
}
#email-label{
    color: aliceblue;
    font-weight: bold;
    
}
#number-label{   
    color: aliceblue;
    font-weight: bold;
}
#name{
    width: 77%;
   height: 35px;
  
   
  
}
#email {
    width: 77%;
    height: 35px;
    
    
}
#number {
    width: 77%;
   height: 35px;
   
    
}
#dropdown {
    width: 90px;;
}
#textarea {
    width: 85%;
    height: 350px;
   
}
#submit{
    width: 85%;
    height: 25px;
    background-color: green;
    
    
}
form{
    color: aliceblue;
}




.one {
    width: 425px;
    height: 150px;
    background-color: #efb762;
    margin: 20px auto;
  }